@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");

body {	
	background: url(../images/noise.png) repeat;
}

h1,h2,h3,h4,h5,body{
	font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #333;
	font-weight: 600;
	letter-spacing: -0.2px;
}

h5{	
	font-size: 13px!important;
}

h2 {
	font-size: 22px;	
	margin-left: 10px;
}



.blue{
	color: #169fe6;
}

.yellow{
	color: #ffd501;
}
h2 span, h3 span {
	color: #888;
	font-weight: 200;
}

div[data-page] .item-container{
	/*-webkit-transform: translate3d(0px, 0px, 0px);*/
	margin: 10px;
}

#wrapper{
	/*width: 100%;*/
	overflow: hidden;
	margin: 0 20px 0 0;
	/*background-color: #fff;*/
}

#top-line{
	width: 100%;
	background: #169fe6;
	height: 5px;
}

#footer-bottom {
	background: #000;	
	/*height: 10px;*/

}

#menu-bar{
	position: absolute;
	width: 410px;
	left:-360px;
	background: #333;
	min-height: 675px;
	z-index: 1000;
	-webkit-transition: all 180ms ease-in-out;
	-moz-transition: all 180ms ease-in-out;
	-o-transition: all 180ms ease-in-out;
	-ms-transition: all 180ms ease-in-out;
	transition: all 180ms ease-in-out;
	-webkit-box-shadow: 2px 0px 15px rgba(0,0,0,0.4);

}

#main-container{
	background-color: #fff;
	padding: 20px 20px 0 60px;
}

#slider-container{
	width: 100%;
	overflow: hidden;
	position: relative;
	min-height: 520px;
	text-align: center;	
}

.page{
	/*width: 33.333333333333%;*/
	position: absolute;
	width: 98%;
	height: 100%;
	top: 0;
}

.img-container{
	/*min-height: 120px;*/
	overflow: hidden;
	height:100px;
	background-color: #000;
}

.img-container img {
	max-width: 100%;
}

.info span{
	color: #888;
	font-size: 13px;
	font-weight: 300;
}
.info{
	padding: 0 10px 15px 10px;
	background: #fff;
	border-radius: 0 0 2px 2px;
	border-top: 5px solid #e5e5e5;
	-webkit-transition: all 180ms ease-in-out;
	-moz-transition: all 180ms ease-in-out;
	-o-transition: all 180ms ease-in-out;
	-ms-transition: all 180ms ease-in-out;
	transition: all 180ms ease-in-out;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 0 1px rgba(0,0,0,0.1);
	
	min-height: 100px;
}

ul {margin:0!important;list-style: none;}

/* Filters
====================================*/

div[data-role="list-filter"] { margin-left: 10px; }

#filters {
	display: block;
	margin: 10px 0 24px -1px;
	font-size: 13px!important;
	font-weight: 400;
}

#filters li {line-height: 22px!important;}
#filters a {
	color: #888;
	display: block;
	padding: 4px 0;
	text-decoration: none;
}

#filters a:hover, li.selected a {
	color: #fff!important;
	margin-left: 15px;
}

li:hover, li.selected{
	background-color: #aaa;
	width: 172px;
	margin-left: -15px;
	/*box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);*/
	border-radius: 2px;
}

/*#filters a:hover { color: #666; }*/


.filters-dropdown {
	position: relative;
	z-index: 9;
	width: 150px;
	height: 20px;
	cursor: pointer;
	padding: 6px 12px 8px 12px;
	display: inline-block;
	color: #888;
	background-color: #eee;
	margin: 0 3px 6px 0;
	-webkit-transition: background-color 200ms ease-out;
	-moz-transition: background-color 200ms ease-out;
	-ms-transition: background-color 200ms ease-out;
	-o-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.05);
	border-radius: 2px;
}

.filters-dropdown.active {
	color: #fff;
	background-color: #169fe6;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);
}

.filters-dropdown.active:after { border-color: #fff rgba(255,255,255, 0); }
.ie8 .filters-dropdown.active:after { border-color: #fff transparent; }

.filters-dropdown.active .option-set {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}

.filters-dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -2px;
	border-width: 5px 5px 0 5px;
	border-style: solid;
	border-color: #aaa rgba(255,255,255, 0);
}

.ie8 .filters-dropdown:after { border-color: #aaa transparent; }
.filters-dropdown.active:after { border-width: 0 5px 5px 5px; }

.filters-dropdown .option-set {
	width: 142px;
	position: absolute;
	top: 100%;
	margin-top: 0;
	left: 1px;
	z-index: 1;
	border: inherit;
	background: #fff;
	list-style: none;
	-webkit-transition: opacity 200ms ease-out;
	-moz-transition: opacity 200ms ease-out;
	-ms-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
	opacity: 0;
	pointer-events: none;
	padding: 15px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 1px rgba(0,0,0,0.2);
	visibility: hidden;
}

/*ul.option-set li a:active { background: #fff; }*/
ul.option-set { background: #fff; }*/

.ie8 .filters-dropdown .option-set { display: none; }
.ie8 .filters-dropdown.active .option-set { display: block; }

.modal-body{
	padding: 0!important;
}

#video-modal h3 { font-size: 18px;}

.modal-summary {font-size: 12px; margin: 10px; font-weight: 400;}

a[data-role="tooltip"]{ 
	text-decoration: none!important;
	color: #333!important;
}


.button,
input[type="button"],
input[type="submit"] {
	padding: 5px 14px 7px 14px;
	display: inline-block;
	border: 0px;
	font-weight: 500;
	outline: none;
	font-size: 13px;
	cursor: pointer;
	width: auto;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	border-radius: 2px;
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.2);
	letter-spacing: -0.2px;
}

.button:hover {text-decoration: none;}
input[type="button"],
input[type="submit"] {float: left;}

.button i { margin: 0 2px 0 -1px; height: 14px; }
.button i.halflings { margin: 2px 0px 0 -1px; }

.button.medium {padding: 9px 18px; font-size: 14px;}

.button.gray {color: #fff;background: #4c4c4c; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.4);}
.button.gray:hover {background:#169fe6; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.2);}

.button.light {color:#fff; background:#aaa; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15);}
.button.light:hover {background:#169fe6; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.2);}

.button.color {color:#fff; background:#169fe6; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15); }
.button.color:hover {background:#aaa; box-shadow: inset 0px -1px 0px 0px rgba(0,0,0, 0.15); }

/* Input Button */
input[type="button"],
input[type="submit"],
input[type="button"]:focus,
input[type="submit"]:focus {
	color:#fff;
	background:#169fe6;
	padding: 9px 11px;
	border: none !important;
}

input[type="button"]:hover,
input[type="submit"]:hover { background:#aaa; }

.icon{
	margin-top:30px;	
	text-align: right;
	margin-left: -10px;
}

.icon i{
	font-size: 24px;
	color: rgb(151, 151, 151);
}

.active-icon{background: #000;}

.menu-content{
	position:absolute;
	padding: 13px;
	width: 80%;
	display: none;
	background-color: #f5f5f5;
	min-height: 650px;
}

.menu-content p {
	font-weight: 300;
} 

.menu-content h2{	
	margin-left: 0!important;
}

.btn-container{
	margin-top: 10px;
}

#twitter-feed li{
	line-height: 20px;
	margin: 0 0 25px 0;
	padding: 0 0 0 25px;
	background: url(../images/twitter-01.png) no-repeat left 5%;
}

#twitter-feed{
	font-size: 13px;
	color:#666;
	font-weight: normal;
	margin-top: 30px!important;
}
#twitter-feed a {text-decoration: none;}

#slider-container .loading {
	width: 95%;
	min-height: 400px;
	background: url('../images/loading.gif') center center no-repeat;
}