<div class="row-fluid" data-role="header-list">
    <h2><%= channel_name %> <span>/ Page <span class="blue"><%= page %></span> of <%= total_pages %></span></h2>        
</div>
<div class="row-fluid" data-role="list-filter">
    <div id="filters" class="filters-dropdown"><span>Channel</span>
        <ul class="option-set" data-option-key="filter">
            <li><a href="#channel/music" data-option-value="music">Music</a></li>
            <li><a href="#channel/fun" data-option-value="fun">Fun</a></li>
            <li><a href="#channel/shortfilms" data-option-value="shortfilms">Short films</a></li>
            <li><a href="#channel/sport" data-option-value="sport">Sport</a></li>
            <li><a href="#channel/tv" data-option-value="tv">TV</a></li>
            <li><a href="#channel/videogames" data-option-value="videogames">Vidéos games</a></li>
        </ul>
    </div>
</div>