<div class="span3" data-view="video-item">
	<div class="item-container">
		<div class="img-container">			
			<img src="<%= thumbnail_large_url%>" data-rel="#video/<%= id %>"/>
		</div>		
		<div class="info">			
			<h5>
				<div data-role="tooltip" data-trigger="manual" data-placement="bottom" title="" data-original-title="<%= title %>"><%= short_title %></div>
			</h5>
			<span>
				<div data-role="popover" data-trigger="manual" data-placement="right" data-html="true" title="<i class='icon-user'></i><%= user.get('screenname') %>" data-content=""><%= user.get('screenname') %></div>
			</span>
		</div>		
	</div>	
</div>